<section class="section">
  <div class="container">
    <nav id="nav-main" class="nav">
      <div id="nav-name" class="nav-left">
        {{ $currentNode := . }}
        {{- $firstUrlElement := print "/" (index (split .URL "/") 1) -}}
        {{- $u := .URL -}}

        <a id="nav-anchor" class="nav-item" href="{{ .Site.BaseURL }}">
          <h1 id="nav-heading" class='title is-4 {{ if eq ($firstUrlElement|lower) "/" }}active{{end}}'>Home</h1>
        </a>

        {{ if (isset .Site.Params "sections" ) }}
        <div class="nav-left">
          {{- range $section, $printable := .Site.Params.sections -}}
          {{- if $printable -}}
          <a class="nav-item" href="{{ $section }}">
            <h1 class="title is-4 {{ if eq ($firstUrlElement|lower) ($u|lower) }}active{{end}}">{{$printable}}</h1>
          </a>
          {{- end -}}
          {{- end -}}
        </div>
        {{ end }}
      </div>
    </nav>
  </div>
  <script src="/js/navicon-shift.js"></script>
</section>